/* start global  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
a {
    text-decoration: none;
}
:root {
    --main-color : ;
    --bg-color : ;
    --transition : ;
}
/* End global  */